@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');



body {
  font-family: 'Nunito';
  overflow-x: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  height: 100vh;
  width: 100%;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transform: scale(0);
  transition: .8s ease;
}

.overlay-active {
  transform: scale(1);
}

.overlay h1 {
  color: #fff;
}

.overlay form {
  width: 50%;
}

.overlay input {
  margin-top: 10px;
  width: 100%;
  background-color: transparent;
}

.overlay textarea {
  /* width: 100%; */
  background-color: transparent;
}

.overlay textarea:focus {
  background-color: transparent;
}

.overlay input:focus {
  background-color: transparent;
}

/* navbar */

.navbar {
  /* padding: 0 150px; */
}

/* NAVBAR BUTTON */

.navbar button {
  display: none;
}
 /* .collapsed {
  display: none;
} */

.navbar .buybtn {
  background: #142D71;
  width: 98px;
  height: 42px;
  color: #fff;
  display: block;

}

.about-us {
  background: #142D71;
  width: 98px;
  height: 42px;
  color: #fff;
 
}

/* introsection */

.introsection-left {
  padding-top: 174px;
  padding-left: 150px;
}

.introsection-left h1 {
  font-size: 44px !important;
}

.introsection-right img {
  width: 100%;
  border-bottom-left-radius: 510px;

}

.button-groups button {
  border:none;
  margin-right: 15px;
}


/* Card section */


.card {
  min-width: 300px;
  width: 25%;
  padding: 30px;
  margin: 0 auto;
  /* margin-right: 10px; */
}

.card img {
  width: 50%;
  display: block;
  margin: 0 auto;
}


/* Carousel section */

.swiper {
  max-width: 95%;
}

.swiper-wrapper {
  padding: 48px;
}







 @media(max-width:991px) {

  .navbar button {
    display: flex;
    border: none;
    background-color: transparent;
    font-size: 24px;
  }

  .introsection-left {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .swiper-wrapper {
    padding-left: 0;
  }
} 